.bold {
  height: 24px;
}

.blockquote {
  height: 32px;
}

.code {
  height: 32px;
}

.h1 {
  height: 32px;
}

.h2 {
  height: 20px;
}

.italic {
  height: 24px;
}

.ol {
  height: 32px;
}

.ul {
  height: 32px;
}

.underline {
  height: 22px;
}
