.button {
  background-color: var(--color-nav);
  border: none;
  border-radius: 2px;
  color: var(--color-canvas);
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  outline: none;
  padding: 6px 12px 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s, background-color 0.15s;

  &:focus {
    background-color: var(--color-bodyText);
  }

  &:hover,
  &:hover &:focus {
    background-color: var(--color-bodyText);
  }
}
