.creation {
  margin: 40px auto;
  width: 824px;
}

.error {
  color: red;
  padding-top: 8px;
  text-align: right;
  text-transform: uppercase;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
