.articleTitle {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  margin-top: 8px;
}

.mainTitle {
  font-size: 8em;
  font-weight: normal;
  letter-spacing: 3px;
  line-height: 1;
  margin: 0;
  margin-top: 8px;
}
