.bold {
  font-weight: 700;
}

.blockquote {
  background-color: var(--color-hover);
  border-left: 4px solid var(--color-border);
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  margin-top: 8px;
  padding: 8px;

  &:first-child {
    margin-top: 0;
  }

  & ~ & {
    margin-top: 0;
    padding-top: 0;
  }
}

.code {
  font-family: monospace;
  background-color: var(--color-hover);
  padding: 2px 4px;
  margin: 0 4px;
}

.h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.h2 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.italic {
  font-style: italic;
}

.ol {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.li {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

.paragraph {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.ul {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  margin-top: 8px;

  &:first-child {
    margin-top: 0;
  }
}

.underline {
  text-decoration: underline;
}
